@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html{
    scroll-behavior:smooth;
}
body{
    overflow-x: hidden;
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: black;
}
.background{
    display: none;
}
[class*="col-"]{
    padding: 15px;
}
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0 , 0.6)!important;
}
.navbar-brand{
    margin-left: 20px;
}
.navbar h1{
    border-radius: 10px;
    margin: 0px;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
}
.navbar h1:hover{
    color: turquoise;
    border: 2px solid turquoise;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding: 5px!important;
    margin: 0 20px;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: end!important;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: turquoise;
}
.caption {
    width: 100%;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: 8%;
}
.name{
    font-family: 'Permanent Marker', cursive;
    padding: 15px;
    font-size: 40px;
    border-radius: 10px;
    color: turquoise;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0 , 0.8)!important;
}

.home-inner{
    background-image: url(../img/ivan_guitar.jpg);
}
#about, #languages, #projects{
    color: white;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23404b69' fill-opacity='0.49' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}
#about span{
    color: turquoise;
    font-size: larger;
}
img{
    width: 300px;
    border: 3px solid turquoise;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    
}
img:hover{
    transform: scale(1.1);
}
.languages-header-underline, .languages-underline, .heading-underline, .projects-underline, .contact-underline{
    height: .2rem;
    background-color: #DA0463;
    margin: 20px auto!important;
}
.card{
    color: white;
    margin: 1rem;
    background-color: #404B69!important;
    border: none!important;
    box-shadow: 9px 5px 15px -3px rgba(211, 211, 211, 0.7)!important;
}
.card:hover {
    .languages-underline{
        transform: scale(1.2);
    }
    #html, #css, #js, #python, #java{
        transform: scale(1.2);
    }
}
.heading-underline{
    width: 8.5rem;
}
.languages-header-underline{
    width: 11.5rem;
}
.languages-underline{
    width: 9rem;
    -webkit-transition-property: all!important;
    -webkit-transition-duration: 0.5s!important;
    -webkit-transition-timing-function: ease!important;
}
.projects-underline{
    width: 11.5rem;
}

.contact-underline{
    width: 17rem;
    background-color: turquoise;
}
#html, #css, #js, #python, #java{
    font-size: 2rem;
    margin: 20px auto;
    -webkit-transition-property: all!important;
    -webkit-transition-duration: 0.5s!important;
    -webkit-transition-timing-function: ease!important;
}
#html{
    color: #f16529;
}
#css{
    color:#1572b6;
}
#js{
    color: #eddc1d;
}
#python{
    color: skyblue;
}
#java{
    color: #ea2d2e;
}
.description{
    font-style: italic;
}
#video{
    width: 300px;
    height: 200px;
}
#button{
    background-color: turquoise;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}
#button:hover{
    color: #404B69;
    box-shadow: 0px 1px 4px 2px rgba(211, 211, 211, 0.7);
    cursor: pointer;
}
.divider{
    height: 0.5rem;
    background-color: rgb(218, 4, 99);
}
#contact{
    height: 100vh;
    color: white;
    background-color: black;
}
footer .row{
    background-color: rgba(0, 0, 0 , 0.8)!important;
    margin: 20px;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
footer a{
    color: white;
    display: inline-block;
    width: 42px!important;
    height: 42px!important;
    margin: 10px;
}
footer a:hover{
    color: turquoise!important;
}
footer svg.svg-inline--fa{
    font-size: 3rem;
}
footer svg.svg-inline--fa:hover{
    color: turquoise!important;

}
hr.socket{
    width: 100%;
    margin-top: 1rem;
    color: turquoise;
}

#amberstein_desktop{
    display: none;
}
#amberstein_mobile{
    height: 525px;
    width: 75%;
    margin: auto;
    display: block;
}
h1{
    font-size: 40px;
}
.about h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
#project_info_right{
    display: none;
}
/*iPads*/

@media only screen and (min-device-width: 768px) and (max-device-width: 991px){
    .background{
        background-color: black;
        display: inline-block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .caption {
        width: 80%;
        left: 10%;
        top: 10%;
        padding: 15px;
    }
    .divider{
        display: none;
    }
    h3{
        font-size: 30px;
    }
    .name{
        font-size: 70px;
    }
    #about{
        background: none;
    }
    #languages{
        background: none;
    }
    #projects {
        background: none;
    }
    #amberstein_mobile{
        width: 50%;
    }
}
/*iPad Pros */

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .background{
        background-color: black;
        display: inline-block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .caption {
        top: 12%;
        left: 15%;
        width: 70%;
    }
    h3{
        font-size: 30px;
    }
    .name{
        font-size: 80px;
    }
    #about{
        background: none;
    }
    img{
        width: 200px;
    }
    #languages{
        background: none;
    }
    #projects {
        background: none;
        text-align: left;
    }
    .projects-underline{
        margin-left: 0px!important;
    }
    .divider{
        display: none;
    }
    #amberstein_mobile{
        width: 50%;
    }
}
/*Desktops & Laptops*/

@media only screen and (min-width: 1200px){
    .background{
        background-color: black;
        display: inline-block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .caption {
        top: 14%;
        left: 15%;
        width: 70%;
    }
    h3{
        font-size: 30px;
    }
    .name{
        font-size: 100px;
    }
    #about{
        background: none;
    }
    #languages{
        text-align: center;
        background: none;
    }
    .languages-underline{
        width: 8rem;
    }
    #projects {
        text-align: left;
        background: none;
    }
    .projects-underline{
        margin-left: 0px!important;
    }
    #contact{
        color: white;
        background: url(../img/amberstein2.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }
    #html, #css, #js, #python, #java{
        font-size: 4rem;
        text-align: center;
    }
    img{
        width: 90%;
    }
    .divider{
        display: none;
    }
    #amberstein_mobile{
        width: 600px;
        margin: 6rem auto;
    }
}
@media only screen and (min-width: 1400px){
    .caption{
        top: 15%;
        width: 60%;
        left: 20%;
    }
    h3{
        font-size: 20px;
    }
    #about{
        text-align: left;
    }
    .heading-underline{
        margin-left: 0px!important;
    }
}
@media only screen and (min-width: 1824px){
    .background{
        background-color: black;
        display: inline-block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .caption {
        padding: 15px;
        width: 50%;
        top: 23%;
        left: 0;
    }
    #amberstein_mobile{
        display: none;
    }
    #amberstein_desktop{
        width: 20%;
        height: 575px;
        position: absolute;
        top: 13%;
        right: 1%;
        z-index: 1;
        display: inline-block;
    }
    #about, #languages, #projects, footer .row{
        padding-top: 4.5rem;
        padding-bottom: 2rem;
    }
    #about{
        background: none;
    }
    #languages{
        background: none;
    }
    .languages-header-underline{
        width: 14.5rem;
    }
    .languages-underline{
        width: 11.5rem;
    }
    #video{
        width: 500px!important;
        height: 400px!important;
    }
    #projects {
        text-align: center;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 30px!important;
    }
    h4{
        font-size: 28px;
    }
    p{
        font-size: 20px;
    }
    #project_info_left{
        display: none;
    }
    #project_info_right{
        display: inline-block;
        text-align: left;
    }
    .heading-underline{
        margin: 0 0 20px 0;
    }
    #contact{
        background-position: 30% 30%;
    }
}
@media only screen and (min-width: 2267px){
    .background{
        background-color: black;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .caption{
        top: 24%;
    }
    #amberstein_desktop{
        top: 14%;
    }
}


