<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=no">
    <title>Ivan Mallory-Web Developer and Designer</title>
    <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/bootstrap-4.1.3-dist/css/style.css">
    <link rel="stylesheet" href="../static/css/fixed.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="/static/styles/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
    <div id="home">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/"><h1>I.M</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#languages">Languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner"></div>
            </div>
        </div>
        <iframe id="amberstein_desktop" src="https://open.spotify.com/embed/artist/7tFUQ2SDdHKDQTxWJDyRrW" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="caption text-center">
            <h1>Ivan Mallory</h1>
        </div>
    </div>
    <div id="about">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                <h1>About</h1>
                <div class="heading-underline"></div>
                <h3>Developer / Musician / Foodie</h3>
                <p><span>Hello World!</span> Like you haven't heard that one before...</p>
                <p>My name is Ivan Mallory and I am a software developer living in Milwaukee, Wisconsin. When I'm not developing code, I enjoy writing music and playing guitar with my band Amberstein and spending time with my girlfriend Ismet.  I hope to leverage my passion for creativity and innovation to pursue a career in software development.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                <a data-fancybox="gallery" href="../static/img/ivan.jpg"><img src="../static/img/ivan.jpg"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <a data-fancybox="gallery" href="../static/img/ismet.jpg"><img src="../static/img/ismet.jpg"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <a data-fancybox="gallery" href="../static/img/amberstein.jpg"><img src="../static/img/amberstein.jpg"></a>
            </div> 
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <a data-fancybox="gallery" href="../static/img/ivan_branded.jpg"><img src="../static/img/ivan_branded.jpg"></a>
            </div>  
        </div>
    </div>
    <div id="languages">
        <div class="row">
            <div class="col text-center">
                <h1>Languages</h1>
                <div class="languages-underline"></div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-lg-6 col-xl-2">
                <i id="html" class="fab fa-html5"></i>
                <h3>HTML5</h3>
                <div class="languages-underline"></div>
                <h4>Writing code using the latest HTML5</h4>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-2">
                <i id="css" class="fab fa-css3"></i>
                <h3>CSS3</h3>
                <div class="languages-underline"></div>
                <h4>Professional styling using a combination of CSS, SASS/SCSS, and Bootstrap</h4>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-2">
                <i id="js" class="fab fa-js"></i>
                <h3>JavaScript</h3>
                <div class="languages-underline"></div>
                <h4>Page interaction with JavaScript libraries including jQuery and React.js</h4>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-2">
                <i id="python" class="fab fa-python"></i>
                <h3>Python</h3>
                <div class="languages-underline"></div>
                <h4>Integration of Python in conjunction with Flask, Jinja2, and SQL to support back end functionality</h4>
            </div>
        </div>
    </div>
    <div id="projects">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4" id="project_info_left">
                <h1>Projects</h1>
                <div class="heading-underline"></div>
                <h3>Welcome to my World!</h3>
                <p>Here are some of the projects I have worked on in the past. I am currently in the process of building an application for a bartending service.  Feel free to explore my work on my GitHub.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <video id="video" controls="true" playsinline poster="/static/img/ubervidz1.png">
                    <source src="../static/img/Uber_Vidz-1.mp4" type="video/mp4">
                    <source src="../static/img/Uber_Vidz-1.webm" type="video/webm">
                </video>
            </div>  
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <video id="video" controls="true" playsinline poster="/static/img/dojoroom1.png">
                    <source src="../static/img/Dojo_Room1.mp4" type="video/mp4">
                    <source src="../static/img/Dojo_Room.m4v" type="video/m4v">
                    <source src="../static/img/Dojo_Room.webm" type="video/webm">
                </video>
            </div>  
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4" id="project_info_right">
                <h1>Projects</h1>
                <div class="heading-underline"></div>
                <h3>Welcome to my World!</h3>
                <p>Here are some of the projects I have worked on in the past. I am currently in the process of building an application for a bartending service.  Feel free to explore my work on my GitHub.</p>
            </div>
        </div>
    </div>
    <div id="contact">
        <footer>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 text-center">
                    <h1>Ivan Mallory</h1>
                    <div class="contact-underline"></div>
                    <p>Have any questions? Feel free to contact me!</p>
                    <strong>Contact Info</strong>
                    <p>715-923-0599<br>ivanmallory1992@gmail.com</p>
                    <a href="https://www.linkedin.com/in/ivan-mallory" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.github.com/ivanmallory" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/ivan.mallory" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/vanthemon11" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <hr class="socket">
                &copy; Ivan Mallory
            </div>
            <iframe id="amberstein_mobile" src="https://open.spotify.com/embed/artist/7tFUQ2SDdHKDQTxWJDyRrW" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </footer>
    </div>
</body>
</html>